<!-- updatepost.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="forum.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <style>
        .editpost {
            margin: 0 auto;
            width: 50%;
            text-align: center;
            padding:10px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
        <div class="logo">
            <a href="MM_Home.html"><img src=".JPG" alt="MindMatters Logo"></a>
        </div>
        <ul>
            <li><a href="/about">About us</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/download">Download</a></li>
            <li class="login"><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>

    <div class="container">
        <h2>Update Post</h2>
    </div>
    <div class="editpost">
        <form action="/updatepost" method="post">
            <input type="hidden" name="postId" value="<%= row.id %>">
            
            <div class="form-group">
                <label for="newTitle">New Title</label>
                <input type="text" id="newTitle" name="newTitle" value="<%= row.title %>" required>
            </div>

            <div class="form-group">
                <label for="newMessage">New Message</label>
                <textarea id="newMessage" name="newMessage" required><%= row.message %></textarea>
            </div>

            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>
